.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 160px;

}

.item {
  margin-left: 10px;
}

.item:first-child{
  margin-bottom: 10px;
}

.item:last-child {
  font-size: 16px;
}

h2{
  margin: 0px;
}
