.room {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  width: fit-content;
  margin: auto;
}

.title {
  margin-right: 100px;
  margin-bottom: 0px;
}

.date {
  font-size: 20px;
  margin: 0px;
}

.date-block{
  margin-right: 160px;
}


